
.cocktailByCatDiv{
    width: 20%;
    text-align: center;
    border: solid yellow 3px;
    border-radius: 5px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.cocktailByCatImg{
    width: 100%;
}

.p{
    line-height: -20vh;
}