.cocktailDetailsPrincipalDiv{
    background-color: black;
    color: yellow;
    border: solid 4px yellow;
    width: 80%;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
    margin-bottom:5vh ;
    padding-bottom: 5vh;
}

.cocktailDetailsDiv{
    display: flex;
    align-items: center;
    
}

.cocktailDetailsTitle{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.cocktailDetailsDivImg{
    width: 40%;
}

.cocktailDetailsUl{
    list-style-type: none;
}

.cocktailDetailsDivRecip{
    width: 60%;
}

.cocktailDetailsImg{
    width: 80%;
    margin-left: 2%;
    border-radius: 5px;
}

.cocktailDetailsButton{
    width: 15%;
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5vh;
    background-color: yellow;
    border: solid white 2px;
    border-radius: 10px;
}

.cocktailDetailsButton:hover{
    cursor: pointer;
    font-weight: bold;
}