.cocktailRandomPrincipalDiv{
    background-color: black;
    color: yellow;
    border: solid 4px yellow;
    width: 80%;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
    margin-bottom:5vh ;
    padding-bottom: 5vh;
}

.cocktailRandomDiv{
    display: flex;
    align-items: center;
    
}

.cocktailRandomTitle{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.cocktailRandomDivImg{
    width: 40%;
}

.cocktailRandomUl{
    list-style-type: none;
    margin-left: -40px;
}

.cocktailRandomDivRecip{
    width: 60%;
}

.cocktailRandomImg{
    width: 80%;
    margin-left: 2%;
    border-radius: 10px;
}

.cocktailRandomButton{
    width: 10%;
    height: 4vh;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5vh;
;
}