.homeParagraph{
    font-size: 20px;
    color: yellow;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 20%;
    margin-right: 20%;
}

.homeContact{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.homeDivContainer{
    display: flex;
    justify-content: space-around ;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.homeContainer1{
    width: 25%;
    position: relative;
}

.homeContainer2{
    width: 25%;
    position: relative;
}

.containerTitle1{
    width: 100%; 
    position: absolute; 
    text-align: center;
    top: 50%;
    font-size: 20px;
    background-color: black;
    opacity: 0.4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.containerTitle2{
    width: 100%; 
    position: absolute; 
    text-align: center;
    top: 50%;
    font-size: 20px;
    background-color: black;
    opacity: 0.4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title1{
    color: white;
}

.title2{
    color: white;
}


.homeContainer1{
    transition: transform .5s;
}


.homeContainer1:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    }
  
.homeContainer2{
        transition: transform .5s;
    }
    
    
.homeContainer2:hover{
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }

.cocktail1{
    border: solid white 0.1px;
    border-radius: 5px;
    z-index: 999;
}
   
.cocktail2{
    border: solid white 0.1px;
    border-radius: 5px;
}