.navBarDivPrincipal{
    background-color: black;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.navBarUl{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.navBarUl li {
    color: black;
    text-decoration: none;
    background-color: yellow;
    width: 10%;
    height: 5vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarUl li a{
    color: black;
    text-decoration: none;
}