.carousel{
    position: relative;
}

.carousel .thumbs{
    margin: 0; 
     
}

.carousel .thumb:hover{
      cursor: pointer;
}

.sliderImg{
    width: 45%;
    margin: auto;
}

.overlay{
    width: 100%;
    height: auto; 
    position: absolute; 
    top: 40%;
    transform: translate(-50%); 
    left: 50%;
    padding: 0.4rem 1.5rem;
    background-color: black;
    background: rgba(0, 0, 0, 0.3);
}


.overlayTitle{
    color: white;
    font-size: 25px;  
    }

